* {
  box-sizing: border-box;
}
:root {
  --Soft_red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark_brown: hsl(25, 47%, 15%);
  --Medium_brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --pale_orange: hsl(33, 100%, 98%);
}
body {
  font-family: 'DM Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom, cyan, blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.information {
  display: flex;

  width: 800px;
  height: 150px;
  margin-inline: auto;
  margin-block: 2em;
  form {
    width: 20em;
  }
  .info {
    flex: 1;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 1em;
  }
}
